body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-wrap: wrap;
    height: 550px;
    width: 550px;
    background-color: seagreen;
    border: 1px solid white;
    color: white;
    justify-content: center;
    /* align-items: center; */
    position: relative;
    margin: 0 auto;
    
}

.container-projects{
    width: 85%;

}
.container-about{
    width: 45%;
}
.container-resume{
    width: 75%;

}