.nav,.list{
    color: white;
    font-size: 25px;
    background: teal;
    padding: 0 5px 0 5px;
    list-style: none;
    display: flex;
    width: 100%;

}

.list{
    flex-direction: row-reverse;
}
.list-div{
    width: 85%;
}
.listitem{

    margin-left: 5px ;
    color: white;
    text-decoration: none;
    list-style-type: none;
    text-transform: uppercase;

}
.nav-name{
    flex-direction: row;
    color: white;
    background-color: teal;
    text-decoration: none;;
}