.footer{
    background:teal;
    height: 50px;
    position: fixed;
    bottom:0;
    text-align: center;
    width: 100%;
    border:2px solid seagreen;
    padding-top: 4px;
    color: white;
    font-size: 15px;
}

span{
    position:fixed;
    bottom: 22px;
    left: 45%
}
