@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap");
.box {
  margin-top: 200px;
  margin-left: 350px;
  width: 1100px;
  height: 500px;
  background-color: grey;
}

.headshot {
  width: 100%;
  border: 3px solid;
}
.back {
  background-color: grey;
}
.lead {
  text-align: center;
  color: #ff1710;
  font-family: "Kiwi Maru", serif;
}
.social {
  height: 40%;
  margin-top: 3%;
  margin-left: 5%;
}
.social1 {
  margin-left: 10%;
}
